# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Blezzing
	email = blezzing@users.noreply.github.com
[alias]
	watch = !bash -c '(~/scripts/gitPrettyLog.sh)'
